{% extends 'base.html.twig' %}

{% block title %}Chambre!{% endblock %}

{% block body %}
<div class="card card-outline-secondary">
    <table id="myTable" class="table">
        <thead class="thead-dark">
            <tr>
                <th>N° Chambre</th>
                <th>N° Batiment</th>
                <th>Type</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
        {% for chambre in chambres %}
            <tr>
                <td>{{chambre.numchambre}}</td>
                <td>{{chambre.numbatiment}}</td>
                <td>{{chambre.type}}</td>            
                <td>
                    <a href="{{path('chambre_update', {'id': chambre.id}) }}"><span class="iconify" data-icon="bx:bxs-edit" data-inline="false" style="color: #454545;"> </span> </a>
                    <a href="{{path('chambre_delete', {'id': chambre.id}) }}" onclick="return confirm('Voullez-vous Supprimer ce Chambre');"><span class="iconify" data-icon="carbon:delete" data-inline="false" style="color: #454545;"></span></a>
                </td>             
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}